.codes {
  display: flex;
  justify-content: space-between;

  &__item {
    flex-basis: 48%;
  }

  &__textarea {
    display: block;
    width: 100%;
    min-height: 200px;
    padding: .25em;
    border: 1px solid var(--col-2);
    border-radius: .25rem;
  }

  &__tip {
    margin-top: .5em;
    font-size: .9em;
    color: var(--col-3);
  }
}
