.codes {
  display: flex;
  justify-content: space-between;

  &__item {
    flex-basis: 48%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  &__label {
    display: block;
    min-height: 30px;
    font-size: 1.2em;
    color: var(--headers-color);
  }

  &__textarea {
    display: block;
    width: 100%;
    min-height: 200px;
    margin-top: .5em;
    padding: .25em;
    box-sizing: border-box;
    border: 1px solid var(--col-2);
    border-radius: .25rem;
    font: 15px/1.4 Trebuchet MS, sans-serif;

    &::placeholder {
      color: var(--col-3);
      font-style: italic;
    }
  }

  &__controls {
    display: flex;
    margin-left: auto;
  }

  &__control {
    align-items: center;
    width: 1.75em;
    height: 1.75em;
    border-radius: .25rem;
    border: 1px solid var(--col-2);

    & + & {
      margin-left: 1rem;
    }
  }

  &__tip {
    margin-top: .5em;
    font-size: .9em;
    color: var(--col-3);
  }
}
