.page__header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 3.5em;
}

.page__title {
  position: relative;
  display: inline-flex;
  align-items: baseline;
  margin: 0 1.25em;
  padding: 0 .25em;
  text-align: center;
  background: var(--color-deepblue);
  color: var(--color-1);

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: .5em;
  }

  &::before {
    left: -.5em;
    background: linear-gradient(to right bottom, var(--body-bg) 50%, var(--color-deepblue) 0);
  }
  &::after {
    right: -.5em;
    background: linear-gradient(to left top, var(--body-bg) 50%, var(--color-deepblue) 0);
  }
}

.page__title-text {
  font-size: .5em;
  margin-left: .5em;
}

.page__header-link {
  border-bottom: 1px dashed;
  text-decoration: none;
  line-height: 1.2;
  color: var(--color-3);
}
.page__header-link--about {
  order: -1;
}
