.options__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.options__item {

  & + & {
    margin-top: 2rem;
  }
}

.options__group {
  margin: 0;
  padding: 0;
  border: 0;
}

.options__legend {
  float: left;
  margin: 0;
  margin-right: 2rem;
  padding: .5em 0;
  font-weight: bold;
}

.options__label--range {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.options__range-wrapper {
  position: relative;
  width: 450px;
  max-width: 50%;
  margin-left: 2rem;
}

.options__range {
  display: block;
  width: 100%;
  cursor: pointer;
}

.options__range-value {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 2em;
  bottom: 100%;
  margin-bottom: .2em;
  transform: translateX(-25%);
  border-radius: .25em;
  font-weight: normal;
}

.options__range:focus + .options__range-value {
  background: var(--color-2);
}

.options__label--radio {
  display: inline-flex;

  & + & {
    margin-left: .5rem;
  }

  .options__label-text {
    --border-color: var(--color-2);
    padding: .5em;
    border-radius: .5em;
    box-shadow: 0 0 0 2px var(--border-color) inset;
    box-sizing: border-box;
    cursor: pointer;
  }

  &:hover .options__label-text {
    --border-color: var(--color-green);
  }

  input:checked + .options__label-text {
    --border-color: var(--color-deepblue);
  }
}
