:root {
  --col-1-darkest: hsl(0, 0%, 79%);
  --col-1-darker: hsl(0, 0%, 86%);
  --col-1-dark: hsl(0, 0%, 93%);
  --col-1: hsl(0, 0%, 100%);
  --col-1-light: hsl(0, 0%, 107%);
  --col-1-lighter: hsl(0, 0%, 114%);
  --col-1-lightest: hsl(0, 0%, 121%);

  --col-2-darkest: hsl(0, 0%, 65.7%);
  --col-2-darker: hsl(0, 0%, 72.7%);
  --col-2-dark: hsl(0, 0%, 79.7%);
  --col-2: hsl(0, 0%, 86.7%);
  --col-2-light: hsl(0, 0%, 93.7%);
  --col-2-lighter: hsl(0, 0%, 100.7%);
  --col-2-lightest: hsl(0, 0%, 107.7%);

  --col-3-darkest: hsl(0, 0%, 45.7%);
  --col-3-darker: hsl(0, 0%, 52.7%);
  --col-3-dark: hsl(0, 0%, 59.7%);
  --col-3: hsl(0, 0%, 66.7%);
  --col-3-light: hsl(0, 0%, 73.7%);
  --col-3-lighter: hsl(0, 0%, 80.7%);
  --col-3-lightest: hsl(0, 0%, 87.7%);

  --col-4-darkest: hsl(202, 81.4%, 9.1%);
  --col-4-darker: hsl(202, 81.4%, 16.1%);
  --col-4-dark: hsl(202, 81.4%, 23.1%);
  --col-4: hsl(202, 81.4%, 30.1%);
  --col-4-light: hsl(202, 81.4%, 37.1%);
  --col-4-lighter: hsl(202, 81.4%, 44.1%);
  --col-4-lightest: hsl(202, 81.4%, 51.1%);

  --col-5-darkest: hsl(0, 0%, -21%);
  --col-5-darker: hsl(0, 0%, -14%);
  --col-5-dark: hsl(0, 0%, -7%);
  --col-5: hsl(0, 0%, 0%);
  --col-5-light: hsl(0, 0%, 7%);
  --col-5-lighter: hsl(0, 0%, 14%);
  --col-5-lightest: hsl(0, 0%, 21%);
}

BODY {
  --body-bg: var(--col-1);
  --body-color: var(--col-5);
  --link-color: var(--col-4);

  --headers-color: var(--col-4);

  --aside-bg: var(--col-5);

  --mark-bg: var(--col-4-dark);
  --mark-color: var(--col-2-light);

  --code-bg: var(--col-3-lighter);
  --term-color: var(--col-4-darker);
}
